sudo: required
services:
  - docker

before_install:
  - docker build -t maximilianknuerr/docker-react -f Dockerfile.dev .

script: 
  - docker run -e CI=true maximilianknuerr/docker-react npm run test

deploy:
  provider: elasticbeanstalk
  region: "us-east-1"
  app: "docker-react"
  env: "Dockerreact-env"
  bucket_name: "elasticbeanstalk-us-east-1-527551791404"
  on:
    branch: main

